<div class="sidebar">
    <div class="sidebar__title">
        <span class="sidebar__title-text">about jetro</span>
    </div>
    <div class="sidebar__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam.
        Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.
    </div>
    <div class="sidebar__title">
        <span class="sidebar__title-text">categories</span>
    </div>
    <ul class="sidebar__list">
        <li class="sidebar__list-item">Video (3)</li>
        <li class="sidebar__list-item">Sports (5)</li>
        <li class="sidebar__list-item">Media (2)</li>
        <li class="sidebar__list-item">Entertainment (7)</li>
        <li class="sidebar__list-item">Life (4)</li>
        <li class="sidebar__list-item">Super Cool Stuff (8)</li>
    </ul>
    <div class="sidebar__title">
        <span class="sidebar__title-text">photo gallery</span>
    </div>
    <div class="sidebar__gallery">
        <div class="sidebar__gallery-item"></div>
        <div class="sidebar__gallery-item"></div>
        <div class="sidebar__gallery-item"></div>
        <div class="sidebar__gallery-item"></div>
        <div class="sidebar__gallery-item"></div>
        <div class="sidebar__gallery-item"></div>
        <div class="sidebar__gallery-item"></div>
        <div class="sidebar__gallery-item"></div>
    </div>
</div>