.big-slider {
    display: none;

    &\--blog {
        display: block;
    }
    &__inner {
        position: relative;
        overflow: hidden;
    }
    &\--blog &__inner {
        margin-left: 0;
        margin-right: 0;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__descr {
        width: 415px;
        height: 125px;
        padding: 20px 18px;
        background-color: #e8673caf;
        position: absolute;
        left: 30px;
        bottom: 30px;
    }
    &__header {
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Bebas';
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    &__text {
        color: #ffffff;
        font-family: "Fira Sans";
        font-size: 12px;
        font-weight: 400;
        color: #fff;
    }

    @media (min-width: 500px) {
        height: 300px;
        display: block;
    }
    @media (min-width: 720px) {
        height: 400px;
    }
    @media (min-width: 940px) {
        &__inner {
            max-width: 960px;
            border-right: 10px solid white;
            border-left: 10px solid white;
        }
        &\--blog &__inner {
            max-width: none;
            border-right: none;
            border-left: none;
        }
    }
}