.footer {
    min-height: 264px;
    &__inner {
        padding: 38px 36px 32px 36px;
        background-color: $orange;
    }
    &__title {
        color: #ffffff;
        font-family: 'Bebas';
        font-size: 20px;
        margin-bottom: 26px;
    }
    &__text {
        color: #ffffff;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }
    &__paragraph {
        margin-bottom: 16px;
    }
    &__item {
        @include col(12);
        margin-top: 30px;
    }
    @media (min-width: 720px) {
        &__item {
            @include col(4);
            padding-right: 20px;
            margin-top: 0;
        }
    }
}