.header {
    min-height: 78px;
    padding-top: 10px;
    padding-bottom: 10px;
    &__logo {
        margin-right: auto;
    }
    @media (min-width: 940px) {
        &__inner {
            max-width: 960px;
            border-right: 10px solid white;
            border-left: 10px solid white;
        }
    }
}