.recent-works {
    margin-bottom: 28px;
    &__header {
        color: $red;
        font-family: 'Bebas';
        font-size: 18px;
        font-weight: 400;
        background-image: url('../img/decor-line.png');
        background-position: left 130px top 0;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: 22px;
    }
    &__inner {
        justify-content: space-around;
    }
    &__item {
        @include col(12);
        margin: 0 0 20px 0;
        text-align: center;
    }
    &__image-wrapper {
        position: relative;
    }
    &__image-wrapper:hover::before  {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            background-image: url('../img/hover-icon.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            opacity: 0.75;
            z-index: 2;
            cursor: pointer;
        }

    &__item-inner {
        display: inline-block;
        text-align: initial;
    }
    &__title {
        color: $grey;
        font-family: 'Bebas';
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        padding: 13px 10px 8px 14px;
        border-right: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        margin-top: -3px;
    }
    &__date {
        color: $orange;
        font-family: 'Bebas';
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        padding: 0 10px 15px 14px;
        border-right: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }
    @media (min-width: 520px) {
        &__item {
            @include col(5);
            margin-right: 0;
        }
        &__inner {
            flex-wrap: wrap;
        }
    }
    @media (min-width: 920px) {

        &__item {
            @include col(3);
            margin-bottom: 0;
            margin-right: 0;
        }
        &__item\--portfolio {
            margin-bottom: 40px;
        }
        margin-bottom: 48px;
    }
}