.sliders {
    display: none;
    margin-top: 15px;
    &__item {
        @include col(2);
    }

    &__img {
        width: 100%;
    }
    
    @media (min-width: 720px) {
        display: block;
        &__item {            
            flex-shrink: 1;
        }
    }
}