@font-face {
    font-family: "Bebas";
    src: url("../fonts/Bebas/Bebas.woff2") format("woff2"),
    url("../fonts/Bebas/Bebas.woff") format("woff"),
    url("../fonts/Bebas/Bebas.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/fira_sans_extra_condensed/FiraSansExtraCondensed-Regular.woff2") format("woff2"),
    url("../fonts/fira_sans_extra_condensed/FiraSansExtraCondensed-Regular.woff") format("woff"),
    url("../fonts/fira_sans_extra_condensed/FiraSansExtraCondensed-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}


*, *::before,*::after {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

$red: #e8603c;
$washedOutRed: #f3af9d;
$grey: #b9b9b9;
$orange: #e8663c;